/* General reset */
/*Removes default margins from the body.
Sets a global font style to Arial and a text color of white*/
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
}

/*Hero Section8*/
.hero-section {
    height: 100vh;
    background: linear-gradient(135deg, #FFDEE9, #B5FFFC); /*Gradient pink to rainbow*/
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    position: relative;
}

.hero-section h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #ff0080; /* soft pink color for the heading*/

}

.hero-section p{
    font-size: 1.5rem;
    color: #ff5e99; /* soft pink color for the heading*/

}

.hero-section .btn-primary {
    background-color: #ff66b2; /* Pink button */
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 25px;
    transition: all 0.3s ease;
}

/* Navigation Bar */
.navbar {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #ff66b2;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #ff99cc;
}

.navbar-nav a {
    color: #ef0d7e;
    margin-right: 15px;
    text-decoration: none;
}

.navbar-nav a:hover {
    color: #ff99cc;
    text-decoration: underline;
}

/* For small screens */
.navbar-toggler-icon {
    color: #ff66b2;
}



