<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta name="decsription" content="Hello, I am Jasmine - Looking for junior roles in web development.">
    <title>About</title>
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
    
        </ul>
    </nav>
    
    <section id="about" class="py-5">
        <div class="container">
            <h1 class="text-center mb-4">About</h1>
            <p class="text-center">
                I am an MSc Artificial Intelligence graduate from the University of Essex, 
                passionate about leveraging technology to solve real-world problems. With expertise in machine learning, 
                data analysis, and software development, I’m eager to apply my skills in AI, data science, 
                and web development to make an impact. I thrive in dynamic environments and am excited to contribute to innovative teams 
                shaping the future of tech.
            </p>

    </section>
    
    <!--Bootstramp JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>