<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta name="decsription" content="Hello, I am Jasmine - Looking for junior roles in web development.">
    <title>About</title>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

     <!-- Custom CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav", aria-controls="navbarNav" aria-expands="false" aria-toggle="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="Collapse navbar-collapse" id="navbarNav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
    
                </ul>
            </div>
        </div>
    </nav>


    <!--About Selection-->
    <section class="hero-section d-flex align-items-center justify-content-center text-center text-white">
        <div class="container text-center my-5">
            <h1 class="text-center mb-4">About Me</h1>
            <img src="{{ url_for('static', filename='images/profile.jpg')}}" alt="Jasmine's Photo" class="rounded-circle my-4" style="width: 150px; height: 150px;">
            <p class="text-center">
                I am an MSc Artificial Intelligence graduate from the University of Essex, 
                passionate about leveraging technology to solve real-world problems. With expertise in machine learning, 
                data analysis, and software development, I’m eager to apply my skills in AI, data science, 
                and web development to make an impact. I thrive in dynamic environments and am excited to contribute to innovative teams 
                shaping the future of tech.
            </p>
        </div>

    </section>
    
    <!--Bootstramp JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>