<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta name="decsription" content="Hello, I am Jasmine - Looking for junior roles in web development.">
    <title>About</title>
</head>

<body>

<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
    </ul>
</nav>

<section>
    <h1>About</h1>
    <p>
        I am an MSc Artificial Intelligence graduate from the University of Essex, 
        passionate about leveraging technology to solve real-world problems. With expertise in machine learning, 
        data analysis, and software development, I’m eager to apply my skills in AI, data science, 
        and web development to make an impact. I thrive in dynamic environments and am excited to contribute to innovative teams 
        shaping the future of tech.
    </p>


</section>
</body>
</html>