<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta name="decsription" content="Hello, I am Jasmine - Looking for junior roles in web development.">
    <title>Contact</title>
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
    
        </ul>
    </nav>

    <section>
        <h1>Contact</h1>
        <p>"Interested in collaborating or have a question? Share your details, and I’ll be in touch soon!"</p>
        <form action="#" method="POST">
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="email" placeholder="Email" required>
            <input type="text" name="message" placeholder="Message" required>
            <button type="submit">Submit</button>

        </form>
    </section>
    


</body>
</html>