<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta name="decsription" content="Hello, I am Jasmine - Looking for junior roles in web development.">
    <title>Wecome to my portfolio</title>


</head>

<body>

    <!--Navigation bar-->
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>

<!--Welcome message-->
<section>
    <h1>Hello, I am Jasmine</h1>
    <p>Looking for junior roles in web development </p>

</section>
</body>



</html>