<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta name="decsription" content="Hello, I am Jasmine - Looking for junior roles in web development.">
    <title>Projects</title>
</head>

<body>

    <!--Navigation bar-->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>


        </ul>
    </nav>

</html>